{% extends 'sharedTemplates/base.html' %}
{% block title %}Neue reparatur{% endblock %}
{% block body %}

<div class="position-absolute top-50 start-50 translate-middle">
    <div class="container"></div>
        <form method="POST">
            <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
            <div class="card h-100">
               <div class="card-body">
                  <p class="card-text">Neue reparatur eingeben.</p>
               </div>
               <div class="card-footer">
                  <a href="/new_repair"> <button name="button_home" value="repair" type="submit" class="btn btn-primary w-100 py-2">Reparatur</button></a>
               </div>
            </div>
            </div>
            <div class="col">
               <div class="card h-100">
                  <div class="card-body">
                     <p class="card-text">Neuen auftrag eingeben.</p>
                  </div>
                  <div class="card-footer">
                     <a href="/new_order"> <button name="button_home" value="order" type="submit" class="btn btn-secondary w-100 py-2">Bestellung</button></a>
                  </div>
               </div>
            </div>
            <div class="col">
               <div class="card h-100">
                  <div class="card-body">
                     <p class="card-text">Offene laufenden Reparaturen.</p>
                  </div>
                  <div class="card-footer">
                     <a href="/get_repair"> <button name="button_home" value="get_repair" type="submit" class="btn btn-primary w-100 py-2">Laufende reparatur</button></a>
                  </div>
               </div>
            </div>
            <div class="col">
               <div class="card h-100">
                  <div class="card-body">
                     <p class="card-text">Offene Aufträge anzeigen.</p>
                  </div>
                  <div class="card-footer">
                     <a href="/get_order"> <button name="button_home" value="get_order" type="submit" class="btn btn-secondary w-100 py-2">Laufende bestellung</button></a>
                  </div>
               </div>
            </div>
            </div>
            </div>
            </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}