{% extends 'sharedTemplates/base.html' %}
{% block title %}Bestelling: {{ data.repair_number }}{% endblock %}
{% block body %}
    <form action="/button_checker_old_order" method="POST" id="form">
        {% include 'sharedTemplates/order/order_form.html' %}
        {% for key, value in data.items() %}
            <script>
                document.getElementsByName("{{ key }}")[0].value = "{{ value | safe }}";
                document.getElementById("{{ key }}").readOnly = true;
            </script>
        {% endfor %}

         <div class="container">
            <div class="d-flex justify-content-between bottom-buttons">
                <button type="submit" name="button_old_order" value="back" class="btn btn-primary">Terug</button>
                <button type="submit" name="button_old_order" value="move_order_back" class="btn btn-warning">Zet bestelling terug</button>
            </div>
        </div>
    </form>
    <script src="/static/script/enter.js"></script>
{% endblock %}




